#pragma code_page(65001)

#include "winuser.h"
#include <winver.h>

CREATEPROCESS_MANIFEST_RESOURCE_ID MANIFEST "manifest.xml"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "SyrieYume"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "dx11_tex_dbg"
            VALUE "OriginalFilename", "dx11_tex_dbg.exe"
            VALUE "ProductName", "dx11_tex_dbg"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
       VALUE "Translation", 0x0804, 1200
    END
END